// Mixins
// Bootstrap Button Variant
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin body-font {
    font-family: 'Open Sans', serif;
}

@mixin heading-font {
    font-family: 'Saira Extra Condensed', serif;
}

@mixin bg-gradient($dark: 'light') {
    $percent: 15%;
    $light_grad: 45deg, $first-grad-color 30%, $second-grad-color 90%;
    $dark_grad: 45deg, darken($first-grad-colo, $percent) 30%, darken($second-grad-color, $percent) 90%;
    @if ($dark=='dark') {
        background: -webkit-linear-gradient($dark_grad);
        background: -o-linear-gradient($dark_grad);
        background: -moz-linear-gradient($dark_grad);
        background: linear-gradient($dark_grad);
    }
    @else {
        background: -webkit-linear-gradient($light_grad);
        background: -o-linear-gradient($light_grad);
        background: -moz-linear-gradient($light_grad);
        background: linear-gradient($light_grad);
    }
}

@mixin text-gradient($dark: 'light') {
    @include bg-gradient($dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}