// Mixins
// Bootstrap Button Variant
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin body-font {
    font-family: 'Open Sans', serif;
}

@mixin heading-font {
    font-family: 'Saira Extra Condensed', serif;
}

@mixin bg-gradient($dark: 'light') {
    $value: 15%;
    @if ($dark=='dark') {
        background: -webkit-linear-gradient(45deg, darken(#FE6B8B, $value) 30%, darken(#FF8E53, $value) 90%);
        background: -o-linear-gradient(45deg, darken(#FE6B8B, $value) 30%, darken(#FF8E53, $value) 90%);
        background: -moz-linear-gradient(45deg, darken(#FE6B8B, $value) 30%, darken(#FF8E53, $value) 90%);
        background: linear-gradient(45deg, darken(#FE6B8B, $value) 30%, darken(#FF8E53, $value) 90%);
    }
    @else {
        background: -webkit-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
        background: -o-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
        background: -moz-linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
        background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    }
}

@mixin text-gradient($dark: 'light') {
    @include bg-gradient($dark);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}